
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/about.css")" type="text/css" />


<form  method="POST" action="~/api/ideas">
    <h2 >Idea</h2>
    <input type="text" required name="title" placeholder="idea:">
    <input  type="text" required name="definition" placeholder="definition">
    <button  type="submit">Add new</button>
</form>