
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/about.css")" type="text/css" />
<div class="center">
    <h1 class="center__text glitch is-glitching" data-text="about youDefine">about youDefine</h1>
</div>