@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/about.css")" type="text/css" />

<a href="~/">
    <div class="about-button">GO BACK</div>
</a>

@*<a href="~/">
        <i class="material-icons">bug_report</i>
        <div class="bug-report">BECOME AN AUTHOR</div>
    </a>*@

<a id="bug-report-link" href="">
    <div class="about-button bug-report">
        <i class="material-icons bug-report-icon">bug_report</i>
        BUG REPORT
    </div>
</a>

@*<a href="~/">
        <i class="material-icons">settings</i>
        <div class="bug-report">SETTINGS</div>
    </a>*@

<div class="about-container">
    <div class="about-section">
        <h1>
            <i class="material-icons about-icon">notes</i>
            Hello
        </h1>
        <hr />
        <p>
            Welcome on youDefine, a web experience in which you can create new ideas,
            explore existing, define them in your own words and come back everytime you need them.
        </p>
        <p>
            Everyone has their different way of approaching reality and you are able to learn
            how particular ideas are seen by others with youDefine.
        </p>

        <br />

        <h1>
            <i class="material-icons about-icon">mail_outline</i>
            Contact
        </h1>
        <hr />
        <p> email: jacekard &commat; gmail.com </p>
    </div>

    <div class="about-section">
        <br />
        <h1>
            <i class="material-icons about-icon">school</i>
            eLearning
        </h1>
        <hr />
        <p>
            youDefine is also a notebook or web dictionary for learning purposes.
            Historical dates, definitions, new foreign vocabulary, scientific terms -
            you define what flashcards will you create.
            Become an Author and start now.
        </p>

        <br />
        <h1>
            <i class="material-icons about-icon">people</i>
            Authors
        </h1>
        <hr />
        <p>
            Becoming an Author opens door to new possibilities.
            As an Author you will only see definitions added by you with options for managing them.
            Create a free account today!
        </p>

    </div>
</div>

<script src="~/js/about.js"></script>
