@{
    ViewData["Title"] = "youDefine";
    //Layout = null;
}

<i class="material-icons" id="description-button">filter_vintage</i>
<div id="description-panel" class="tooltip-inactive">
    <span id="tooltip">
        Hello, type your own idea or click
        <i class="material-icons refresh-icon-small" id="refresh-button">refresh</i>
        to get a random one.
    </span>
</div>

<div class="search-section">
    <div class="search-container">
        <input id="search-input" placeholder="define..." name="search-input"
               autocomplete="off" inputmode="search" spellcheck="false" autofocus />
    </div>
    <div id="result-container" class="ui-widget">
        <div id="log" class="ui-widget-content"></div>
    </div>

</div>

<footer>
    <a href="~/Home/About">
        <i class="material-icons footer-icon" id="footer-button">panorama_fish_eye</i>
    </a>
</footer>