@{
    ViewData["Title"] = "youDefine";
    //Layout = null;
}

<div class="search-section">
    <div class="search-container">
        <input id="search-input" placeholder="define..." name="search-input" 
        autocomplete="off" inputmode="search" spellcheck="false" autofocus />
        <!-- type="search" -->
    </div>

</div>