@{
    ViewData["Title"] = "youDefine";
    //Layout = null;
}

<i class="material-icons" id="fingerprint">filter_vintage</i>
<span id="tooltip" class="tooltip-inactive">Hello, type your idea or press	<i class="material-icons" class="refresh_small" id="refresh">refresh</i> to get a random one.</span>

<div class="search-section">
    <div class="search-container">
        <input id="search-input" placeholder="define..." name="search-input"
               autocomplete="off" inputmode="search" spellcheck="false" autofocus />
        <!-- type="search" -->
    </div>

</div>