@{
    ViewData["Title"] = "youDefine";
}

<div class="search-section">
    <div class="search-container">
        <input id="search-input" placeholder="define..." name="search-input" type="search" autocomplete="off" inputmode="search" spellcheck="false" autofocus/>

    </div>


</div>