
@{
    ViewData["Title"] = "Report bugs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/css/reportbugs.css")" type="text/css" />

<div class="bug-report-page">
<textarea placeholder="Please report a bug on the website, thank you" id="bug-report-text"></textarea>
    <input id="bug-submit" type="submit" value="submit" />
</div>

<script src="~/js/reportbugs.js"></script>
