@{
    ViewData["Title"] = "Administrator Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/css/admin/admin-stats.css")" type="text/css" />
<i class="material-icons page-icon" style="top:-5vh">insert_chart_outlined</i>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="50">
    <div class="container">
        <div class="row">
            <nav class="col-sm-3" id="myScrollspy">
                <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="10">
                    <li><a href="#section1">Statistics Bundle</a></li>
                    <li><a href="#section2">Ideas plot</a></li>
                    <li><a href="#section3">Section 3</a></li>
                    <li><a href="#section4">Section 4</a></li>
                    <li><a href="#section5">Section 5</a></li>
                </ul>
            </nav>
            <div class="col-sm-9">
                <div id="section1" class="info-section">
                    <h3>Statistics Bundle</h3>
                    <span id="website-info"></span><br />
                    <span id="character-stats"></span>
                </div>
                <div id="section2" class="plot-section">
                    <h3>How many ideas were added recently?</h3>
                    <object data="@Url.Content("~/statistics/plot.html")" width="1000" height="500">
                        Error: Embedded data could not be displayed.
                    </object>
                </div>
                <div id="section3" class="plot-section">
                    <h3>How many </h3>
                    <p>Nam ut nulla sed ante ipsum ante, sagittis mi. Nullam suscipit quis, eleifend in, dui. Cras consectetuer lacus. Nulla eu wisi. Suspendisse ac quam at orci luctus et malesuada ultricies lacinia lacus.</p>
                </div>
                <div id="section4" class="plot-section">
                    <h3>Section 4</h3>
                    <p>Pellentesque tempus orci interdum dui quis suscipit wisi. Suspendisse vitae turpis. Cras at nunc ac imperdiet sit amet neque tristique lorem.</p>
                </div>
                <div id="section5" class="plot-section">
                    <h3>Section 5</h3>
                    <p>In arcu iaculis ante, elementum vel, viverra arcu, rutrum ac, laoreet viverra auctor, egestas quam sed quam eu bibendum leo nec tincidunt vehicula, fringilla elementum dui. Morbi sit amet ligula. Sed et turpis.</p>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/js/admin-stats.js"></script>