html, body {
    overflow: visible !important;
}

.about-container {
    display: flex;
    max-width: 1200px;
    min-width: 300px;
    max-height: 2000px;
    min-height: 200px;
    margin-left: 15%;
}

.about-section {
    flex: 1;
    margin: 15px 25px 15px 15px;
    background: rgba(255,255,255,0.1);
    box-shadow: inset 0 0 0 0px #fff;
    padding: 0.85em 3em 0.85em 3em;
    color: #fff;
    height: auto;
    width: auto;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

h1 {
    font-family: 'Cousine', monospace;
    text-align: center;
    font-size: 5vh;
    font-weight: 700;
    color: white;
    margin-right: 50px;
}

p {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    text-align: justify;
    font-size: 3vh;
    font-weight: 400;
    color: white;
}

.about-button {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 150px;
    height: 60px;
    padding: 5px 0 5px 0;
    background: white;
    mix-blend-mode: screen;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg); /* Standard syntax */
    font-size: 35px;
    font-weight: 800;
    font-family: Consolas, "Courier New", monospace;
    color: black;
}

    .about-button:hover {
        mix-blend-mode: saturation;
    }

a {
    color: black;
    text-decoration: none; /* no underline */
}

.about-icon {
    font-size: 40px;
    float: left;
    text-align: left;
    padding: 5px;
    color: white;
}

.bug-report {
    top: 13%;
    height: 80px;
    font-size: 28px;
    padding: 2px 1px 2px 25px;
    line-height: 35px;
    padding-top: 7px;
}

.bug-report-icon {
    padding: 5px 10px 0px 0px;
    float:left;
}