#definition-container {
    position: absolute;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 95vh;
    right: 0vw;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    -webkit-box-shadow: 0 0 3px rgba(250,250,250,0.1);
}

.single-definition {
    animation: slideToLeft 2s 1 cubic-bezier(.43,-0.02,.19,1.15) forwards;
    width: 600px;
    height: auto;
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    font-family: Monaco, Consolas, "Courier New", monospace;
    color: lightslategray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

    .single-definition:hover {
        background-color: rgba(255,255,255,0.6);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,1);
    }

.definition-info {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.definition-likes-icon {
    font-size: 20px;
}

.definition-likes-count {
    position: relative;
    bottom: 4px;
    margin-left: 10px;
    font-size: 17px;
}

.definition-date {
    position: relative;
    top: 2px;
    right: 5px;
    float: right;
}

.definition-text {
    color: black;
    font-size: 20px;
}

.put-definition {
    position: relative;
    right: 3vw;
    visibility: hidden;
    opacity: 0;
    font-size: 18px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    font-family: Monaco, Consolas, "Courier New", monospace;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

@keyframes slideToLeft {
    0% {
        position: relative;
        right: -100vw;
    }

    100% {
        position: relative;
        right: 0vw;
    }
}
