.search-input-hidden {
    animation: hideSearchInput 2s 1 cubic-bezier(.43,-0.07,0,1.46) forwards, glow 5s infinite alternate;
}

.search-input-active {
    animation: showSearchInput 3s 1 cubic-bezier(.43,-0.07,0,1.46) forwards, glow 5s infinite alternate;
}

.idea-info {
    visibility: hidden;
    float: left;
    opacity: 0;
    width: 200px;
    height: 150px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

#idea-likes-icon {
    position: relative;
    font-size: 35px;
    top: 55px;
    right: 25px;
    float: right;
    opacity: 1;
}

#idea-likes-count {
    position: relative;
    top: 45px;
    left: -35px;
    opacity: 1;
    font-size: 35px;
    color: lightslategrey;
    margin: 3px;
    font-weight: 600;
    float: right;
}

.idea-date {
    opacity: 0;
    visibility: hidden;
    font-family: Monaco, Consolas, "Courier New", monospace;
    font-size: 15px;
    width: 500px;
    height: 20px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.show-element {
    visibility: visible !important;
    opacity: 1 !important;
}

.add-new-panel {
    position: relative;
    top: 160px;
    left: 220px;
    visibility: hidden;
    opacity: 0;
    font-size: 18px;
    max-width: 700px;
    display: inline;
    align-content: center;
    text-align: center;
    font-family: Monaco, Consolas, "Courier New", monospace;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

    .add-new-panel:hover {
        text-shadow: 2px 2px 20px rgba(150, 150, 150, 0.5);
    }

.add-new-icon {
    position: relative;
    top: 6px;
    font-size: 25px;
    margin-left: 5px;
}

#new-idea {
    mix-blend-mode: color-burn;
}

#definition-input {
    display: none;
    color: white;
    background-color: transparent;
    border: 0px solid;
    width: 450px;
    height: 200px;
    font-size: 32px;
    text-decoration: none;
    margin-left: 80px;
    font-weight: 400;
    caret-color: white;
    font-family: Monaco, Consolas, "Courier New", monospace;
}

    #definition-input::placeholder {
        color: whitesmoke;
        text-decoration-color: transparent;
        text-align: justify;
        padding-left: 20px;
    }

    #definition-input:focus {
        outline: none;
        border: none;
    }

.add-idea-button {
    display: none;
    width: 250px;
    height: 50px;
    border: 2px solid;
    margin-left: 170px;
    -webkit-appearance: none;
    background: rgba(255,255,255,0.15);
    box-shadow: inset 0 0 0 0px #fff;
    padding: 0.85em 3em 0.85em 3em;
    color: #fff;
    border-radius: 0.35em;
    border-color: rgba(255,255,255,0.35);
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

    .add-idea-button:hover {
        background: rgba(255,255,255,0.35);
    }

@keyframes hideSearchInput {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        top: 5vh;
        left: -28vw;
    }
}

@keyframes showSearchInput {
    0% {
        top: 5vh;
        left: -28vw;
    }

    100% {
        top: 25%;
        left: 2%;
    }
}
