
.search-section {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    font-family: 
}

.search-container {
    /*margin: auto;*/
    margin-top: 250px;
    width: 400px;
    height: 300px;
}

#search-input {
    background-color: transparent;
    /*background-color: aquamarine;*/
    border: 0px solid;
    height: 80px;
    width: 350px;
    font-size: 60px;
    text-decoration: none;
    padding-left: 80px;
}

    #search-input[value="define..."] {
        color: red;
        text-decoration-color: transparent;
    }

    #search-input::placeholder {
        color: lightslategray;
        text-decoration-color: transparent;
    }

    #search-input:focus {
        outline: none;
        border: none;
    }
