.page-section {
    margin: 0 auto;
}

.search-container {
    position: relative;
    top: 25%;
    left: 2%;
    width: 700px;
    height: inherit;
}

.idea-container {
    font-family: 'Roboto Slab', serif;
    font-size: 4.3em;
    font-weight: 500;
    width: 500px;
    height: 100px;
    float:right;
}

#search-input {
    background-color: transparent;
    mix-blend-mode: color-burn;
    color: navy;
    border: 0px solid;
    width: 400px;
    height: 80px;
    text-decoration: none;
    caret-color: lightslategray;
}

    #search-input::placeholder {
        color: lightslategray;
        text-decoration-color: transparent;
        text-align: left;
        padding-left: 30px;
    }

    #search-input:focus {
        outline: none;
        border: none;
    }

#result-container {
    margin: 0 auto;
    width: 80%;
    height: auto;
    max-height: 500px;
    overflow: hidden;
}

.ui-autocomplete {
    position: relative;
    left: 0 !important;
    top: 0 !important;
    list-style-type: none;
    font-size: 3vw;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
}

ul > li {
    display: inline-flex !important;
    justify-content: space-around !important;
    flex-flow: row wrap !important;
    margin: 10px;
    zoom: 1;
}

.ui-menu-item {
    background: red;
    mix-blend-mode: overlay;
    color: white;
    cursor: default;
    width: auto;
    margin: 10px;
}

.ui-helper-hidden-accessible {
    display: none;
}

#description-panel {
    position: absolute;
    top: 10px;
    left: -600px;
    border: 2px solid snow;
    border-radius: 5px;
    background-color: snow;
    z-index: 5;
    width: 850px;
    height: 42px;
    text-align: left;
    padding: 0px;
}

#tooltip {
    display: inline;
    will-change: opacity;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    -webkit-transition: opacity ease-out 8s;
    transition: opacity ease-out 8s;
    height: 40px;
    margin-left: 100px;
}

.tooltip-inactive {
    visibility: hidden;
    opacity: 0;
}

.tooltip-open {
    visibility: visible;
    opacity: 0;
    -webkit-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Safari 4+ */
    -moz-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Fx 5+ */
    -o-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Opera 12+ */
    animation: openTooltip 1.5s 1 ease-in-out forwards, glow 3s infinite alternate;
}

.tooltip-close {
    /*-webkit-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Safari 4+ */
    -moz-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Fx 5+ */
    -o-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Opera 12+ */
    animation: closeTooltip 1.5s 1 ease-in-out forwards, glow 3s infinite alternate;
}

#description-button {
    position: absolute;
    top: 11px;
    left: 5px;
    z-index: 10;
    font-size: 36px;
    will-change: font-size;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s, font-size 0.2s, opacity ease-out 2s;
    transition: width 2s, height 2s, transform 2s, font-size 0.2s, opacity ease-out 2s;
    transition-delay: 0.3s;
}

    #description-button:hover {
        font-size: 40px;
    }

.button-spin {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.refresh-icon-small {
    position: relative;
    font-size: 30px;
    top: 6px;
}

@keyframes glow {
    from {
        opacity: 0.8;
        color: midnightblue;
    }

    to {
        opacity: 1;
        color: black;
    }
}

@keyframes openTooltip {
    0% {
        left: -850px;
        opacity: 0;
    }

    80% {
        left: -5px;
        opacity: 0.1;
    }

    100% {
        left: -30px;
        opacity: 1;
    }
}

@keyframes closeTooltip {
    0% {
        left: -30px;
        opacity: 1;
    }

    30% {
        left: 0px;
        opacity: 0.9;
    }

    100% {
        left: -600px;
        opacity: 0;
        visibility: hidden;
    }
}
