.search-section {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    font-family:
}

.search-container {
    /*margin: auto;*/
    margin-top: 250px;
    width: 400px;
    height: 300px;
}

#search-input {
    background-color: transparent;
    /*background-color: aquamarine;*/
    border: 0px solid;
    height: 80px;
    width: 350px;
    font-size: 60px;
    text-decoration: none;
    padding-left: 80px;

    caret-color: lightslategray;
}

    #search-input[value="define..."] {
        color: red;
        text-decoration-color: transparent;
    }

    #search-input::placeholder {
        color: lightslategray;
        text-decoration-color: transparent;
    }

    #search-input:focus {
        outline: none;
        border: none;
    }

#description-panel {
    position: absolute;
    top: 10px;
    left: -50px;
    border: 2px solid snow;
    border-radius: 5px;
    background-color: snow;
    z-index: 5;
    width: 900px;
    height: 40px;
    text-align: left;
    padding: 0px;
}

#tooltip {
    display: inline;
    will-change: opacity;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    -webkit-transition: opacity ease-out 8s;
    transition: opacity ease-out 8s;
    height: 40px;
    margin-left: 100px;
}

.tooltip-inactive {
    visibility: hidden;
    opacity: 0;
}

.tooltip-open {
    visibility: visible;
    -webkit-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Safari 4+ */
    -moz-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Fx 5+ */
    -o-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Opera 12+ */
    animation: openTooltip 1.5s 1 ease-in-out forwards, glow 3s infinite alternate;
}

.tooltip-close {
    /*-webkit-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Safari 4+ */
    -moz-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Fx 5+ */
    -o-animation: animateTooltip 1.5s 1 ease-in-out forwards; /* Opera 12+ */
    animation: closeTooltip 1.5s 1 ease-in-out forwards, glow 3s infinite alternate;
}

#description-button {
    position: absolute;
    top: 14px;
    left: 5px;
    z-index: 10;
    font-size: 36px;
    will-change: font-size;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s, font-size 0.2s, opacity ease-out 2s;
    transition: width 2s, height 2s, transform 2s, font-size 0.2s, opacity ease-out 2s;
    transition-delay: 0.3s;
}
    #description-button:hover {
        font-size: 40px;
    }

.button-spin {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.refresh-icon-small {
    position: relative;
    font-size: 30px;
    top: 6px;
}

@keyframes glow {
    from {
        opacity: 0.8;
        color: midnightblue;
    }

    to {
        opacity: 1;
        color: black;
    }
}

@-webkit-keyframes animateTooltip {
    0% {
        top: 300px;
        opacity: 0.7;
    }

    100% {
        top: 250px;
        opacity: 0.7;
    }
}

@-moz-keyframes animateTooltip {
    0% {
        top: 300px;
        opacity: 0.7;
    }

    100% {
        top: 0px;
        opacity: 0.9;
    }
}

@-o-keyframes animateTooltip {
    0% {
        top: 300px;
        opacity: 0.7;
    }

    100% {
        top: 200px;
        opacity: 0.7;
    }
}

@keyframes openTooltip {
    0% {
        left: -600px;
        opacity: 0;
    }

    80% {
        left: 0px;
        opacity: 0.3;
    }

    100% {
        left: -30px;
        opacity: 1;
    }
}

@keyframes closeTooltip {
    0% {
        left: -30px;
        opacity: 1;
    }

    30% {
        left: 0px;
        opacity: 0.9;
    }

    100% {
        left: -600px;
        opacity: 0;
        visibility: hidden;
    }
}