* {
    padding: 0;
    margin: 0;
}

:root {
    --bg-color-set1: #ff9a9e, #fad0c4, #ffecd2, #fcb69f, #ee9ca7, #ffdde1;
    --bg-color-set2: #9795f0, #fbc8d4,#89f7fe, #66a6ff, #accbee, #e7f0fd, #4facfe,#00f2fe, #ffc3a0, #ffafbd;
    --bg-color-set3: #feada6, #f5efef,#ff758c , #ff7eb3,#ffecd2, #fcb69f, #ff9a9e, #fecfef;
    --bg-color-set4: #93a5cf, #e4efe9, #93a5cf, #e4efe9, #f5f7fa, #c3cfe2, #a1c4fd, #c2e9fb;
    /*#ff9a9e, #fecfef, #a1c4fd, #c2e9fb, #cfd9df, #e2ebf0, #89f7fe, #66a6ff, #93a5cf, #e4efe9, #ff758c, #ff7eb3, #96deda, #50c9c3, #ffc3a0, #ffafbd, #4568dc, #b06ab3, #ec6f66, #f3a183, #3a1c71, #d76d77, #ffaf7b, #ed4264, #ffedbc, #c471f5, #fa71cd, #e9defa, #fbfcdb, #9795f0, #fbc8d4,#f83600, #f9d423, #b721ff, #21d4fd, #abecd6, #fbed96, #ff5858, #f09819, #4481eb, #04befe, #e6b980, #eacda3, #209cff, #68e0cf, #FFE29F, #FFA99F, #FF719A;*/
}

html {
    width: 100%;
    height: 100%;
}

body {
    will-change: background;
    will-change: background-position;
    width: 100%;
    height: auto;
    background: linear-gradient(50deg, #ff9a9e, #fad0c4, #ffecd2, #fcb69f, #ff9a9e, #fecfef, #a1c4fd, #c2e9fb, #cfd9df, #e2ebf0, #89f7fe, #66a6ff, #93a5cf, #e4efe9, #ff758c, #ff7eb3, #96deda, #50c9c3, #ffc3a0, #ffafbd);
    background-position: 0% 0%;
    -webkit-animation: animateBackground 25s infinite linear alternate backwards; /* Safari 4+ */
    -moz-animation: animateBackground 25s infinite linear alternate backwards; /* Fx 5+ */
    -o-animation: animateBackground 25s infinite linear alternate backwards; /* Opera 12+ */
    animation: animateBackground 25s infinite linear alternate backwards; /* IE 10+, Fx 29+ */
    background-size: 600%;
    -webkit-transition: background-size 3s;
    transition: background-size 3s;
}

    body:hover {
        background-size: 1000%;
    }

.background-variation2 {
    background: linear-gradient(0deg, #ff9a9e, #fad0c4, #ffecd2, #fcb69f, #ee9ca7, #ffdde1);
    background-position: 80% 20%;
    background-size: 600%;
}

.background-variation2 {
    background: linear-gradient(-50deg, #9795f0, #fbc8d4,#89f7fe, #66a6ff, #accbee, #e7f0fd, #4facfe,#00f2fe, #ffc3a0, #ffafbd);
    background-position: 80% 20%;
    background-size: 600%;
}

.background-variation2 {
    background: linear-gradient(360deg, #feada6, #f5efef,#ff758c, #ff7eb3,#ffecd2, #fcb69f, #ff9a9e, #fecfef);
    background-position: 10% 50%;
    background-size: 600%;
}

.background-variation2 {
    background: linear-gradient(-250deg, #93a5cf, #e4efe9, #93a5cf, #e4efe9, #f5f7fa, #c3cfe2, #a1c4fd, #c2e9fb);
    background-position: 100% 50%;
    background-size: 600%;
}

.body-content {
}

@-webkit-keyframes animateBackground {
    0% {
        background-position: 0%;
        opacity: 0.9;
    }

    100% {
        background-position: 100%;
        opacity: 1;
    }
}

@-moz-keyframes animateBackground {
    0% {
        background-position: 0%;
        opacity: 0.9;
    }

    100% {
        background-position: 100%;
        opacity: 1;
    }
}

@-o-keyframes animateBackground {
    0% {
        background-position: 0%;
        opacity: 0.9;
    }

    100% {
        background-position: 100%;
        opacity: 1;
    }
}

@keyframes animateBackground {
    0% {
        background-position: 0%;
        opacity: 0.9;
    }

    100% {
        background-position: 100%;
        opacity: 1;
    }
}

::-moz-selection { /* Code for Firefox */
    color: #30cfd0;
    background: #f5f7fa;
}

::selection {
    color: #30cfd0;
    background: #f5f7fa;
}

.material-icons {
    opacity: 0.5;
    color: lightslategrey;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    cursor: default;
}

.material-icons:hover {
    opacity: 1;
}

.footer-icon {
    position: absolute;
    font-size: 45px;
    bottom: 15px;
    right: 15px;
}



/* Add responsive design for smaller devices! */
